# Importing Libraries and Modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import GridSearchCV

# Reading the Dataset

In [26]:
data = pd.read_csv('../car_price_prediction/data/processes2.csv')
data.drop('Unnamed: 0', axis=1, inplace=True)

In [27]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,max_power (in bph),Mileage Unit,Mileage,Engine (CC)
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,5,74.00,kmpl,23.40,1248
1,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,5,90.00,kmpl,23.00,1396
2,Hyundai,2017,440000,45000,Petrol,Individual,Manual,First Owner,5,81.86,kmpl,20.14,1197
3,Toyota,2011,350000,90000,Diesel,Individual,Manual,First Owner,5,67.10,kmpl,23.59,1364
4,Ford,2013,200000,169000,Diesel,Individual,Manual,First Owner,5,68.10,kmpl,20.00,1399

In [28]:
# Columns and types of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2095 entries, 0 to 2094
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                2095 non-null   object
 1   year                2095 non-null   int64
 2   selling_price       2095 non-null   int64
 3   km_driven           2095 non-null   int64
 4   fuel                2095 non-null   object
 5   seller_type         2095 non-null   object
 6   transmission        2095 non-null   object
 7   owner               2095 non-null   object
 8   seats               2095 non-null   int64
 9   max_power (in bph)  2095 non-null   float64
 10  Mileage Unit        2095 non-null   object
 11  Mileage             2095 non-null   float64
 12  Engine (CC)         2095 non-null   int64
dtypes: float64(2), int64(5), object(6)
memory usage: 212.9+ KB

- The dataset doesn't have missing values in any column;

- The dataset has 13 columns, 7 numeric columns and 6 categorical columns;

- The numeric columns are: year, selling_price, km_driven, seats, max_power, mileage, engine;

- The categorical columns are: name, fuel, seller_type, transmission, owner, mileage unit.

# Preprocessing of the dataset

In [29]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,max_power (in bph),Mileage Unit,Mileage,Engine (CC)
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,5,74.00,kmpl,23.40,1248
1,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,5,90.00,kmpl,23.00,1396
2,Hyundai,2017,440000,45000,Petrol,Individual,Manual,First Owner,5,81.86,kmpl,20.14,1197
3,Toyota,2011,350000,90000,Diesel,Individual,Manual,First Owner,5,67.10,kmpl,23.59,1364
4,Ford,2013,200000,169000,Diesel,Individual,Manual,First Owner,5,68.10,kmpl,20.00,1399

In [30]:
# Convert the categorical variables into binary variables utilizing get_dummies
data = pd.get_dummies(data, columns=['name', 'fuel', 'transmission', 'owner', 'seller_type', 'Mileage Unit', 'seats', 'year'])
data.iloc[:,5:] = data.iloc[:,5:].astype(int)

In [31]:
# Data scaling
numerical_features = ['km_driven', 'max_power (in bph)', 'Mileage', 'Engine (CC)']

scaler = MinMaxScaler()

for i in numerical_features:
    data[i] = scaler.fit_transform(np.array(data[i]).reshape(-1, 1))

data.head()

In [40]:
#Split between training data and test data
X = data.drop('selling_price', axis=1).values
y = data['selling_price'].values

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=101)

# Machine Learning Models

## Linear Regression